img {
    width: 30%;
    margin: calc(10%/6);

}

nav {
    border-bottom: 2px solid white;
    width: 30%;
    font-family: "Barlow Condensed", sans-serif;
    margin-left: calc(10%/6);
    font-size: 1.5em;
    padding: 1.2em 0;
}